div {
  width:5vw;
  height:10vh;
  background-color:red;
  -webkit-transition:width 2s, height 4s; /*safari*/
  transition:width 2s, height 4s;
  -webkit-transition-timing-function:linear;
  transition-timing-function:linear;
}

div:hover {
  width:10vw;
  height:40vh;
}