html {
  min-height:100%;
  min-width:100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    margin: .5rem;
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 24vw;
    text-align: center;
    height: 515.67px;
    margin:2vw;
    padding:2vw;
    border-style:solid;
    border-color:transparent;
    border-width:1px;
}

section:hover {
  border-style:solid;
  border-color: darkgrey;
  border-width: 1px;
}

.bg-black {
  color:black;
  margin:7px;
}

.bg-blue {
  color:blue;
  margin:7px;
}

.bg-green {
  color: forestgreen;
  margin:7px;
}

.bg-yellow {
  color:lemonchiffon;
  margin:7px;
}

.bg-teal {
  color: teal;
  margin:7px;
}

.bg-grey {
  color:grey;
  margin:7px;
}

.bg-red {
  color:red;
  margin:7px;
}

.swatches li {
  border-radius:50%;
  height:2rem;
  width:2rem;
  list-style:none;
  margin:7px;
}

.clearfix:after {
  content: "";    
  display: block;    
  clear: both; 
}
.clear {
	 clear: both; /* I can't have the clearfix where I want it, so I just created a class of clear that I can use to wipe out the float on the last <p> in the .pink section. */
}
  
.float-left {
    float:left;
}

.price {
  width: 50%;
  margin: auto;
}

.strikethrough {
  text-decoration:line-through;
  color:red;
}

.no-dec {
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

.link {
    color:black;
    font-size: 16px;
}

.link h5 {
  margin:.5em;
}

.link p {
  .5em .5em 1.5em .5em
}

.center {
  text-align: center;
}

.compare {
  margin:1em;
}

.save {
  margin-bottom: 0;
}